@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-red-900 text-white font-semibold  shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
  }
}


* {
  box-sizing: border-box;
}
p {
  margin: 0 0 10px;
}
main{
  background-color: rgb(238, 238, 238);
  padding: 10px 0;
}


.cv-container {
  padding: 0px 0px 75px;
}
.cv-container h2 {
  font-family: "PT Sans", "Noto Sans", sans-serif;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.cv-container {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "PT Sans", "Noto Sans", sans-serif;
  font-size: 14px;
  display: block;
  margin: 0px auto 10px;
  min-height: 400px;
  max-width: 1020px;
}
@media screen and (min-width: 768px){
  .cv-container .vcard .user-photo .user-thumb {
    opacity: 0.6;
}
}
.cv-container .vcard .user-photo .user-thumb {
  opacity: 1;
  transition: opacity 0.2s ease 0s;
  z-index: 1;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.cv-container section.profile {
  margin-right: 0px;
  margin-left: 0px;
}
.cv-container section {
  position: relative;
  overflow-wrap: break-word;
}
@media screen and (min-width: 768px){
.cv-container section {
    margin-left: 3.8em;
    margin-right: 3.8em;
}}
.cv-container .vcard {
  color: white;
  overflow-wrap: anywhere;
  display: flex;
  height: 300px;
  margin: 0px;
  padding-left: 40px;
  background-color: rgb(17, 17, 17) !important;
}
.cv-container .vcard .user-photo {
  height: 100%;
  min-width: 6%;
  position: relative;
  flex: 0 0 auto;
}

.cv-container .vcard .user-photo .gradient-overlay {
  background-image: linear-gradient(90deg, rgb(17, 17, 17) 0%, transparent 30%, transparent 70%, rgb(17, 17, 17) 100%);
  z-index: 1;
  display: none;
  position: absolute;
  inset: 0px;
}
.cv-container .vcard .user-photo .user-thumb + .gradient-overlay {
  display: block;
}
.css-crop img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.cv-container .vcard .user-contact-wrap {
  background-image: linear-gradient(90deg, rgb(17, 17, 17) 0%, rgb(0, 0, 0) 100%);
  flex: 1 1 auto;
  padding-right: 1em;
  padding-top: 50px;
}
.cv-container .vcard .full-name {
  font-weight: bold;
  line-height: 0.9em;
  text-transform: uppercase;
  margin: 0px;
}
.cv-container h1 {
  font-size: 350%;
}

.cv-container .vcard .title {
  font-weight: normal;
  font-size: 150%;
  letter-spacing: 1px;
}
.cv-container h1, .cv-container h3, .cv-container h4, .cv-container h6, .cv-container .user-contact, .cv-container .user-websites {
  font-family: "PT Sans", "Noto Sans", sans-serif;
}
.cv-container h1, .cv-container h2, .cv-container h3, .cv-container h4, .cv-container h5, .cv-container h6, .cv-container label {
  margin-top: 0px;
  margin-bottom: 0.1em;
}

.cv-container .vcard .user-contact {
  margin-top: 2.75em;
  margin-left: 4px;
  padding: 0px;
}
.cv-container h4, .cv-container h5, .cv-container h6, .cv-container label, .cv-container .user-contact, .cv-container .user-websites {
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.cv-container h1, .cv-container h3, .cv-container h4, .cv-container h6, .cv-container .user-contact, .cv-container .user-websites {
  font-family: "PT Sans", "Noto Sans", sans-serif;
}
.cv-container h4, .cv-container h5, .cv-container h6, .cv-container label, .cv-container .user-contact, .cv-container .user-websites {
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.cv-container .vcard .user-contact li, .cv-container .vcard .user-websites li {
  color: white;
  font-size: 90%;
  letter-spacing: 1px;
  list-style: none;
  display: inline-block;
  margin-bottom: 0.25em;
  margin-right: 0.7em;
}
.cv-container section header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.75em;
  width: 100%;
}
.cv-container section header .header-text {
  background-color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
}
.cv-container h3, .cv-container h4 {
  color: rgb(17, 17, 17);
}
.cv-container h3 {
  font-weight: bold;
  font-size: 100%;
}
.cv-container #summary .header-text::before {
  background-image: url(/summary.png);
}
.cv-container .dated_story .header-text::before {
  background-image: url(/work-experience.png);
}
.cv-container #degrees .header-text::before {
  background-image: url(/education.png);
}
.cv-container .portfolio .header-text::before {
  background-image: url(/accomplishments.png);
}
.cv-container .header-text::before {
  content: "";
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 0.5em;
  display: inline-block;
  background-image: url(/core-competenceies.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.cv-container section header::after {
  content: "";
  display: block;
  top: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 0;
}
.cv-container section {
  margin: 0px 6% 2em;
}

.cv-container #summary article {
  /* font-size: 115%; */
  text-align: center;
}
.cv-container section .date-range [data-bind="end_date"]::before {
  content: " - ";
}
.cv-container section .article-headings {
  float: left;
  width: 31%;
}
.cv-container section .article-body {
  padding-left: 30%;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}
.cv-container article::after {
  content: "";
  display: block;
  clear: both;
}
.mce-content-body ul {
  list-style-type: disc;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
}
.cv-container .vcard a, .cv-container .vcard [data-bind="email"] span span, .cv-container .vcard .website [contenteditable], .cv-container .vcard .website a {
  color: white;
}
.cv-container a, .cv-container [data-bind="email"] span span, .cv-container a[data-bind="organization_url"] span span, .cv-container a[data-bind="link_url"] span span, .cv-container .website [contenteditable], .cv-container .website a {
  color: rgb(4, 123, 150);
}
.cv-container article {
  margin-bottom: 1.5em;
}
.download-button{
  letter-spacing: 2.2px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 18px 0;
  font-size: 14px;
}